{{!-- Customers Page --}}
{{!-- Code Citations --}}
{{!-- Date: 11/15/2022 --}}
{{!-- Referenced structure and data-table from: --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


<main>
<h2>Customers</h2>
<p>&nbsp;</p>

{{!-- Create a table for the database --}}
<div id = "browse" class = "data-table">
    <table id= "customer-table" border="1" cellpadding="5">
        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>
            {{!-- For each row, insert the table data --}}
            {{!-- Square brackets refer to the alias names of the SELECT query --}}
            {{#each data}}
            <tr data-value={{this.[ID]}}>
                <td>{{this.[ID]}}</td>
                <td>{{this.[First Name]}}</td>
                <td>{{this.[Last Name]}}</td>
                <td>{{this.[Street]}}</td>
                <td>{{this.[City]}}</td>
                <td>{{this.[State]}}</td>
                <td>{{this.[Zip]}}</td>
                <td>{{this.[Phone Number]}}</td>
                <td>{{this.[Active Rentals]}}</td>
                <td>{{this.[Total Rentals]}}</td>
                <td><button onclick="deleteCustomer({{this.[ID]}})">Delete</button></td>                                                  
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_customer.js"></script>
</div>


<!-- Add new customer form -->
<div class = "row">
    <div class = "column">
        <form id="add-customer-form-ajax">
            <h3>Add New Customer</h3>
            <div class = "form-inputs">
                <div>
                    <label for="input-fname">First Name: </label>
                    <input type="text" name="input-fname" id="input-fname" required="required" placeholder="Required">
                </div>

                <div>
                    <label for="input-lname">Last Name: </label>
                    <input type="text" name="input-lname" id="input-lname" required="required" placeholder="Required">
                </div>

                <div>
                    <label for="input-street">Street: </label>
                    <input type="text" name="input-street" id="input-street">                    
                </div>  

                <div>
                    <label for="input-city">City: </label>
                    <input type="text" name="input-city" id="input-city">
                </div>

                <div>
                    <label for="input-state">State: </label>
                    <input type="text" name="input-state" id="input-state">
                </div>

                <div>
                    <label for="input-zip">Zip: </label>
                    <input type="number" name="input-zip" id="input-zip">
                </div>

                <div>
                    <label for="input-phone">Phone Number: </label>
                    <input type="tel" name="input-phone" id="input-phone" placeholder="###-###-####">
                </div>

                <div>
                    <label for="input-active-rentals">Active Rentals: </label>
                    <input type="number" name="input-active-rentals" id="input-active-rentals">
                </div>

                <div>
                    <label for="input-total-rentals">Total Rentals: </label>
                    <input type="number" name="input-total-rentals" id="input-total-rentals">
                </div>

                <input type="submit" value="Add Customer">
            </div>
        </form>
        <script src="./js/add_customer.js"></script>
    </div> <!-- End of Add Customer Column -->

<!-- Update customer form -->
<div class = "column">
        <form id="update-customer-form-ajax">
        <h3>Update Customer</h3>
            <div class = "form-inputs">
                <div>
                    <label for="input-update-customer">Full name: </label>
                    <select name="input-update-customer" id="update-customer" onchange="autoFill()">
                        <option value="">Select a Customer</option>
                        {{#each data}}
                        <option value="{{this.[ID]}}">{{this.[First Name]}} {{this.[Last Name]}}</option>
                        {{/each}}
                    </select>
                </div>

                <div>
                    <label for="input-update-fname">First Name: </label>
                    <input type="text" name="input-update-fname" id="input-update-fname" required="required" placeholder="Required">
                </div>
                <div>
                    <label for="input-update-lname">Last Name: </label>
                    <input type="text" name="input-update-lname" id="input-update-lname" required="required" placeholder="Required">
                </div>

                <div>
                    <label for="input-update-street">Street: </label>
                    <input type="text" name="input-update-street" id="input-update-street">                    
                </div>
                <div>
                    <label for="input-update-city">City: </label>
                    <input type="text" name="input-update-city" id="input-update-city">                    
                </div>
                <div>
                    <label for="input-update-state">State: </label>
                    <input type="text" name="input-update-state" id="input-update-state">
                </div>

                <div>
                    <label for="input-update-zip">Zip: </label>
                    <input type="number" name="input-update-zip" id="input-update-zip">
                </div>

                <div>
                    <label for="input-update-phone">Phone Number: </label>
                    <input type="tel" name="input-update-phone" id="input-update-phone" placeholder="###-###-####">
                </div>

                <div>
                    <label for="input-update-active-rentals">Active Rentals: </label>
                    <input type="number" name="input-update-active-rentals" id="input-update-active-rentals">
                </div>

                <div>
                    <label for="input-update-total-rentals">Total Rentals: </label>
                    <input type="number" name="input-update-total-rentals" id="input-update-total-rentals">
                </div>
                
                <input type="submit" value= "Update Customer">
            </div>
        </form>
    <script src="./js/update_customer.js"></script>
</div> <!-- End of update Customer Column -->
</div> <!-- End of Row -->


<div class = "row">
    <!-- Search customer form -->
    <div class = "column">
    <form id="search-customer-html" method='GET' action='/'>
        <h3>Search Customers</h3>
        <div class = "form-inputs">
            <div>
                <label for="input-lname">Last Name: </label>
                <input type="text" name="lname" id="input-lname-html-search" >
            </div>
            <input type="submit" value= "Search customer">
            <a href='/index'><button>Reset Results</button></a>
        </div>
    </form>
</div> <!-- End of Search column -->
</div><!-- End of Row -->
</main>