{{!-- Referenced from: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) --}}
{{!-- Locations Page --}}



<main>
<h2>locations</h2>
<p>&nbsp;</p>

{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<div id = "browse" class = "data-table">
    <table id= "location-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, first_name, last_name, etc, in order --}}
            {{#each data}}
            <tr data-value={{this.location_id}}>
                <td>{{this.location_id}}</td>
                <td>{{this.location_street}}</td>
                <td>{{this.location_city}}</td>
                <td>{{this.location_state}}</td>
                <td>{{this.location_zip}}</td>
                <td>{{this.location_phone_number}}</td>
                <td><button onclick="deleteLocation({{this.location_id}})">Delete</button></td>                                                  
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_location.js"></script>
</div>