<main>

<h2>Movies</h2>
<p>&nbsp;</p>

{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<div id = "browse" class = "data-table">
    <table id= "movie-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, first_name, last_name, etc, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.movie_id}}</td>
                <td>{{this.movie_title}}</td>
                <td>{{this.release_date}}</td>
                <td>{{this.genre}}</td>
                <td><a href="#" onclick="deleteMovie{{this.movie_id}}"><button>Delete</button></a></td>                                                   
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

    <h2>Search Using an HTML Form</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Last Name: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>


{{!-- Form to add a record to the table  --}}
<p>To add a new movie, please enter their information below and click 'Submit'!</p>
<form id="add-movie-form-ajax">
    <label for="input-movie_title">Movie Title: </label>
    <input type="text" name="input-title" id="input-title">
    
    <label for="input-release_date">Year of Release: </label>
    <input type="number" name="input-release_date" id="input-release_date">

    <label for="input-genre">Genre: </label>
    <input type="text" name="input-genre" id="input-genre">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_movie.js"></script>

<script src="./js/delete_movie.js"></script>    


</main>