<main>

<h2>Movies</h2>
<p>&nbsp;</p>

{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<div id = "browse" class = "data-table">
    <table id= "movie-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, first_name, last_name, etc, in order --}}
            {{#each data}}
            <tr data-value = {{this.movie_id}}>
                <td>{{this.movie_id}}</td>
                <td>{{this.movie_title}}</td>
                <td>{{this.release_date}}</td>
                <td>{{this.genre}}</td>
                <td><button onclick="deleteMovie({{this.movie_id}})">Delete</button></td>                                                   
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_movie.js"></script>
</div>
<div class = "row">
    <div class = "column">
    <form id="search-movie-html">
        <h3>Search For Movies</h3>
        <div class= "form-inputs">
            <div>
                <label for="input-title">Search by Movie Title: </label>
                <input type="text" name="movie_title" id="input-title-html-search">
            </div>
            <input type="submit" value="Search Movies">
            <a href='/movies'><button>Reset</button></a>
        </div>
    </form>
    </div>


{{!-- Form to add a record to the table  --}}
    <div class = "column">
        <form id="add-movie-form-ajax">
            <h3>Add A New Movie:</h3>
            <p><strong> Note: you may need to refresh the page to see the new items added. </strong></p>
            <div>
                <label for="input-movie_title">Movie Title: </label>
            </div>
            <div>
                <input type="text" name="input-title" id="input-title">
            </div>
                <div>
                <label for="input-release_date">Year of Release: </label>
                </div>
                <div>
                <input type="number" name="input-release_date" id="input-release_date">
                </div>
                <div>
                <label for="input-genre">Genre: </label>
                <div>
                <input type="text" name="input-genre" id="input-genre">
                </div>
            </div>
            <input type="Submit" value="Add Movie">
        </form>
    <script src="./js/add_movie.js"></script>
    </div>
</div>

<div class= "row">
    <div class="column">
        <form id="update-movie-form-ajax">
        <h3>Update Movie</h3>
        <div class= "form-inputs">
            <div>
                <label for="update-order-id">Movie Title: </label>
                <select name="update-movie_title" id="movieSelect">
                    <option value="update-order-id">Select a Movie</option>
                    {{#each data}}
                    <option value="{{this.movie_id}}">{{this.movie_title}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <label for="update-movie">movie title: </label>
                <input type="text" name="update-movie" id="update-movie">
            </div>
            <div>
                <label for="input-release_date">Year of Release: </label>
                <input type="number" name="input-release_date" id="input-release_date-update">
            </div>

            <div>
                <label for="input-genre">Genre: </label>
                <input type="text" name="input-genre" id="input-genre-update">
            </div>
    
            <input type="submit" value="Update">

        </form>

        <script src="./js/update_movie.js"></script>
    </div>
</div>

</main>