<main>

<h2>Movies</h2>
<p>&nbsp;</p>

{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<div id = "browse" class = "data-table">
    <table id= "movie-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, first_name, last_name, etc, in order --}}
            {{#each data}}
            <tr data-value = {{this.movie_id}}>
                <td>{{this.movie_id}}</td>
                <td>{{this.movie_title}}</td>
                <td>{{this.release_date}}</td>
                <td>{{this.genre}}</td>
                <td><onclick="deleteMovie{{this.movie_id}}"><button>Delete</button></a></td>                                                   
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

    <h2>Search Using an HTML Form</h2>
<p>Search by title below. Partial last names are OK too!</p>
<form id="search-movie-html" method='GET' action='/movies'>
    <label for="input-title">Search by Movie Title: </label>
    <input type="text" name="movie_title" id="input-title-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>


{{!-- Form to add a record to the table  --}}
<p>To add a new movie, please enter their information below and click 'Submit'!</p>
<form id="add-movie-form-ajax">
    <label for="input-movie_title">Movie Title: </label>
    <input type="text" name="input-title" id="input-title">
    
    <label for="input-release_date">Year of Release: </label>
    <input type="number" name="input-release_date" id="input-release_date">

    <label for="input-genre">Genre: </label>
    <input type="text" name="input-genre" id="input-genre">

    <input type="submit">
</form>

<h2>Updating Movie Form</h2>
<!-- Update movie form -->
<div class= "column">
    <form id="update-movie-form-ajax">
        <h3>Update Movie</h3>
        <div class = "form-inputs">
            <div>
                <label for="update-movie-id">Movie Title: </label>
                <select name="update-movie-id" id="movieSelect">
                    <option value="update-movie-id">Select A Movie To Edit</option>
                    {{#each data}}
                    <option value="{{this.movie_title}}">{{this.movie_title}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="input-release_date">Year of Release: </label>
                <input type="number" name="input-release_date" id="input-release_date-update">
            </div>

            <div>
                <label for="input-genre">Genre: </label>
                <input type="text" name="input-genre" id="input-genre-update">
            </div>

            <input type="submit" value="Update Movie">
        </div>
    </form>
</div><!-- End of update Order Column -->
</div> <!-- End of Row -->


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_movie.js"></script>

<script src="./js/delete_movie.js"></script>

<script src="./js/update_movie.js"></script>



</main>