<main>

<h2>Movies</h2>
<p>&nbsp;</p>

{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<div id = "browse" class = "data-table">
    <table id= "movie-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, first_name, last_name, etc, in order --}}
            {{#each data}}
            <tr data-value = {{this.movie_id}}>
                <td>{{this.movie_id}}</td>
                <td>{{this.movie_title}}</td>
                <td>{{this.release_date}}</td>
                <td>{{this.genre}}</td>
                <td><button onclick="deleteMovie({{this.movie_id}})">Delete</button></td>                                                   
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_movie.js"></script>
</div>
<div class = "row">
    <div class = "column">
        <form id="add-movie-form-ajax">
            <h3>Add A New Movie</h3>
            <div class = "form-inputs">
                <div>
                    <label for="input-movie_title">Movie Title: </label>
                    <input type="text" name="input-title" id="input-title">
                </div>

                <div>
                    <label for="input-release_date">Year of Release: </label>
                    <input type="number" name="input-release_date" id="input-release_date" min="1900" max="2025">
                </div>

                <div>
                    <label for="input-genre">Genre: </label>
                    {{!-- <input type="text" name="input-genre" id="input-genre">                     --}}
                    <select name="input-genre" id="input-genre">
                        <option value="Action">Action</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Drama">Drama</option>
                        <option value="Horror">Horror</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Thriller">Thriller</option>
                    </select>
                </div>  

                <input type="Submit" value="Add Movie">
            </div>
        </form>
        {{!-- Embed javascript to handle the DOM manipulation and AJAX request --}}
        <script src="./js/add_movie.js"></script>
    </div> <!-- End of Add Location Column -->

<div class = "column">
        <form id="update-movie-form-ajax">
        <h3>Update Movie</h3>
            <div class = "form-inputs">
                <div>
                    <label for="update-order-id">Movie Title: </label>
                    <select name="update-movie_title" id="movieSelect">
                      <option value="update-order-id">Select a Movie</option>
                        {{#each data}}
                        <option value="{{this.movie_id}}">{{this.movie_title}}</option>
                        {{/each}}
                    </select>
                </div>

                <div>
                    <label for="update-movie">New Title: </label>
                    <input type="text" name="update-movie" id="update-movie">                    
                </div>
                <div>
                    <label for="input-release_date">Year of Release: </label>
                    <input type="number" name="input-release_date" id="input-release_date-update" min="1900" max="2025">                    
                </div>
                
                <div>
                    <label for="input-genre">Genre: </label>
                    <select name="input-genre" id="input-genre-update">
                        <option value="Action">Action</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Drama">Drama</option>
                        <option value="Horror">Horror</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Thriller">Thriller</option>
                    </select>
                </div>
                
                <input type="submit" value="Update">
            </div>
        </form>
    <script src="./js/update_movie.js"></script>
</div> <!-- End of update location Column -->

</div> <!-- End of Row -->

<div class = "row">
    <div class = "column">
    <form id="search-movie-html" method='GET' action='/movies'>
        <h3>Search Movies By Title</h3>
        <div class = "form-inputs">
            <div>
                <label for="input-title">Movie Title: </label>
                <input type="text" name="movie_title" id="input-title-html-search">
            </div>
            <input type="submit" value= "Search Movies">
            <a href='/movies'><button>Reset</button></a>
        </div>
    </form>
</div> <!-- End of Search column -->
</main>