{{!-- Orders Page --}}
{{!-- Code Citations --}}
{{!-- Date: 11/15/2022 --}}
{{!-- Referenced structure and data-table from: --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


<main>
<h2>Orders</h2>
<p>&nbsp;</p>

{{!-- Create a table for the database --}}
<div id = "browse" class = "data-table">
    <table id= "orders-table" border="1" cellpadding="5">
        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>
            {{!-- For each row, insert the table data --}}
            {{!-- Square brackets refer to the alias names of the SELECT query --}}
            {{#each data}}
            <tr data-value={{this.[ID]}}>
                <td>{{this.[ID]}}</td>
                <td data-customer_id={{this.[ID]}}>{{this.[Customer_Name]}}</td>
                <td data-location_id={{this.[ID]}}>{{this.[Location_Address]}}</td>
                <td data-orderDate_id={{this.[ID]}}>{{this.[Order_Date]}}</td>
                <td>{{this.[Return_Date]}}</td>
                <td>{{this.[Is_Overdue]}}</td>
                <td><button onclick="deleteOrder({{this.[ID]}})">Delete</button></td>                                                    
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_order.js"></script>
</div>


<!-- Add new order form -->
<div class = "row">
    <div class = "column">
        <form id="add-order-form-ajax">
            <h3>Add New Order</h3>
            <div class = "form-inputs">
                <div>
                    <label for="input-customer-id">Customer: </label>
                    <select name="input-customer-id" id="input-customer-id" required="required" >
                        <option value="">Select a Customer</option>
                        {{#each customers}}
                        <option value="{{this.customer_id}}">{{this.customer_id}} </option>
                        {{/each}}
                    </select>
                </div>

                <div>
                    <label for="input-location-id">Location: </label>
                        <select name="input-location-id" id="input-location-id" required="required">
                            <option value="">Select a Location</option>
                            {{#each locations}}
                            <option value="{{this.location_id}}">#{{this.location_id}}: {{this.location_street}}, 
                                {{this.location_city}}, {{this.location_state}}</option>
                            {{/each}}
                    </select>
                </div>

                <div>
                    <label for="input-order-date">Order Date: </label>
                    <input type="date" name="input-order-date" id="input-order-date" required="required">                    
                </div>  

                <div>
                    <label for="input-return-date">Return Date: </label>
                    <input type="date" name="input-return-date" id="input-return-date">
                </div>

                <div>
                    <label for="input-overdue">Is Overdue: </label>
                    <select name="input-overdue" id="input-overdue">
                        <option value= "0">No</option>
                        <option value= "1">Yes</option>
                    </select>
                </div>

                <input type="submit" value="Add Order">
            </div>
        </form>
        <script src="./js/add_order.js"></script>
    </div> <!-- End of Add Order Column -->


<!-- Update order form -->
<div class= "column">
    <form id="update-order-form-ajax">
        <h3>Update an Order</h3>
        <div class = "form-inputs">
            <div>
                <label for="update-order-id">Order: </label>
                <select name="update-order-id" id="update-order" required="required" onchange="autoFill()">
                    <option value="">Select an Order</option>
                    {{#each data}}
                    <option value="{{this.[ID]}}">{{this.[ID]}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="update-customer-id">Customer: </label>
                <select name="update-customer-id" id="update-customer-id" required="required">
                    <option value="">Select a Customer</option>
                    {{#each customers}}
                    <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="update-location-id">Location: </label>
                <select name="update-location-id" id="update-location-id" required="required">
                    <option value="">Select a Location</option>
                    {{#each locations}}
                    <option value="{{this.location_id}}">#{{this.location_id}}: {{this.location_street}}, 
                        {{this.location_city}}, {{this.location_state}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="update-order-date">Order Date: </label>
                <input type="date" name="update-order-date" id="update-order-date">                    
            </div>  

            <div>
                <label for="update-return-date">Return Date: </label>
                <input type="date" name="update-return-date" id="update-return-date">
            </div>

            <div>
                <label for="update-overdue">Is Overdue: </label>
                <select name="update-overdue" id="update-overdue">
                    <option value= "0">No</option>
                    <option value= "1">Yes</option>
                </select>
            </div>

            <input type="submit" value="Update Order">
        </div>
    </form>
    <script src="./js/update_order.js"></script>
</div><!-- End of update Order Column -->
</div> <!-- End of Row -->



<div class = "row">
    <!-- filter Customer Column -->
    <div class = "column">
        <form id="filter-customer-order-html" method='GET' action='/orders/customer_id'>
        <h3>Filter by Customer</h3>
        <div class = "form-inputs">
            <div>
                <label for="filter-customer-id">Customer: </label>
                <select name="filter" id="customer_id">
                    <option value="">Select a Customer</option>
                    {{#each customers}}
                    <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                </select>
            </div>

            <input type="submit" value="Filter Customer Order">
            <a href='/'><button>Reset Results</button></a>
        </div>
    </form>
    </div><!-- End of filter Customer Column -->


    <!-- Filter location Column -->
    <div class = "column">
        <form id="filter-location-order-html" method='GET' action='/orders/location_id'>
        <h3>Filter by Location</h3>
        <div class = "form-inputs">
            <div>
                <label for="filter-location-id">Location: </label>
                <select name="filter" id="location_id">
                    <option value="">Select a Location</option>
                    {{#each locations}}
                    <option value="{{this.location_id}}">#{{this.location_id}}: {{this.location_street}}, 
                        {{this.location_city}}, {{this.location_state}}</option>
                    {{/each}}
                </select>
            </div>

            <input type="submit" value="Filter Location Order">
            <a href='/'><button>Reset Results</button></a>
        </div>
    </form>
    </div><!-- End of filter Location Column -->
</div><!-- End of Row -->
</main>
