{{!-- Referenced from: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) --}}
{{!-- Orders Page --}}

<main>

<h2>Orders</h2>
<p>&nbsp;</p>

{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<div id = "browse" class = "data-table">
    <table id= "orders-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, first_name, last_name, etc, in order --}}
            {{#each data}}
            <tr data-value={{this.order_id}}>
                <td>{{this.order_id}}</td>
                <td>{{this.customer_id}}</td>
                <td>{{this.location_id}}</td>
                <td>{{this.order_date}}</td>
                <td>{{this.return_date}}</td>
                <td>{{this.over_due}}</td>
                <td><button onclick="deleteOrder({{this.order_id}})">Delete</button></td>                                                    
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_order.js"></script>
</div>


<!-- Add new order form -->
<div class = "row">
    <div class = "column">
        <form id="add-order-form-ajax">
            <h3>Add New Order</h3>
            <div class = "form-inputs">
                <div>
                    <label for="input-customer-id">Customer: </label>
                    <select name="input-customer-id" id="input-customer-id">
                        <option value="input-customer-id">Select a Customer</option>
                        {{#each customers}}
                        <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div>
                    <label for="input-location-id">Location: </label>
                        <select name="input-location-id" id="input-location-id">
                            <option value="input-location-id">Select a Location</option>
                            {{#each locations}}
                            <option value="{{this.location_id}}">#{{this.location_id}}: {{this.location_street}}, 
                                {{this.location_city}}, {{this.location_state}}</option>
                            {{/each}}
                    </select>
                </div>

                <div>
                    <label for="input-order-date">Order Date(YYYY-MM-DD): </label>
                    <input type="text" name="input-order-date" id="input-order-date">                    
                </div>  

                <div>
                    <label for="input-return-date">Return Date (YYYY-MM-DD): </label>
                    <input type="text" name="input-return-date" id="input-return-date">
                </div>

                <div>
                    <label for="input-overdue">Is Overdue: </label>
                    <select name="input-overdue" id="input-overdue">
                        <option value= "0">No</option>
                        <option value= "1">Yes</option>
                    </select>
                </div>

                <input type="submit" value="Add Order">
            </div>
        </form>
        {{!-- Embed javascript to handle the DOM manipulation and AJAX request --}}
        <script src="./js/add_order.js"></script>
    </div> <!-- End of Add Order Column -->


<!-- Update order form -->
<div class= "column">
    <form id="update-order-form-ajax">
        <h3>Update Order</h3>
        <div class = "form-inputs">
            <div>
                <label for="update-order-id">Order: </label>
                <select name="update-order-id" id="update-order">
                    <option value="update-order-id">Select an Order</option>
                    {{#each data}}
                    <option value="{{this.order_id}}">{{this.order_id}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="update-customer-id">Customer: </label>
                <select name="update-customer-id" id="update-customer-id">
                    <option value="update-customer-id">Select a Customer</option>
                    {{#each customers}}
                    <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="update-location-id">Location: </label>
                <select name="update-location-id" id="update-location-id">
                    <option value="update-location-id">Select a Location</option>
                    {{#each locations}}
                    <option value="{{this.location_id}}">#{{this.location_id}}: {{this.location_street}}, 
                        {{this.location_city}}, {{this.location_state}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="update-order-date">Order Date(YYYY-MM-DD): </label>
                <input type="text" name="update-order-date" id="update-order-date">                    
            </div>  

            <div>
                <label for="update-return-date">Return Date (YYYY-MM-DD): </label>
                <input type="text" name="update-return-date" id="update-return-date">
            </div>

            <div>
                <label for="update-overdue">Is Overdue: </label>
                <select name="update-overdue" id="update-overdue">
                    <option value= "0">No</option>
                    <option value= "1">Yes</option>
                </select>
            </div>

            <input type="submit" value="update Order">
        </div>
    </form>
    {{!-- Embed javascript to handle the DOM manipulation and AJAX request --}}
    <script src="./js/update_order.js"></script>
</div><!-- End of update Order Column -->
</div> <!-- End of Row -->



<div class = "row">
    <div class = "column">
        <form id="filter-customer-order-html" method='GET' action='/orders'>
        <h3>Filter by Customer</h3>
        <div class = "form-inputs">
            <div>
                <label for="filter-customer-id">Customer: </label>
                <select name="filterCustomer" id="filter-customer-id">
                    <option></option>
                    {{#each customers}}
                    <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                </select>
            </div>

            <input type="submit" value="Filter Customer Order">
            <a href='/'><button>Reset Results</button></a>
        </div>
    </form>
    </div><!-- End of filter Customer Order Column -->


    <div class = "column">
        <form id="filter-location-order-html" method='GET' action='/orders'>
        <h3>Filter by Location</h3>
        <div class = "form-inputs">
            <div>
                <label for="filter-location-id">Location: </label>
                <select name="filterLocation" id="filter-location-id">
                    <option></option>
                    {{#each locations}}
                    <option value="{{this.location_id}}">#{{this.location_id}}: {{this.location_street}}, 
                        {{this.location_city}}, {{this.location_state}}</option>
                    {{/each}}
                </select>
            </div>

            <input type="submit" value="Filter location Order">
            <a href='/'><button>Reset Results</button></a>
        </div>
    </form>

    </div><!-- End of filter Location Order Column -->

</div><!-- End of Row -->

</main>